<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <title>Vue To Do List</title>
</head>
<body>
    <div id="root">
    <header class="text-center">
        <img src="https://www.boolean.careers/images/misc/logo.png" alt="Boolean logo">
    </header>
    <main>
        <div class="input_container text-center">
            <input class="input_style" v-model="todo">
            <button class="btn_style" @click="addToDo">Aggiungi</button>
        </div>
        <div class="ul_container">
            <ul v-if="newarray.length > 0">
                <li v-for="(things, index) in newarray">{{things}} <i @click="deleteToDo(index)" class="fas fa-times text-right"></i></li>
            </ul>
            <h2 v-else>Sono quasi bravo come Isina</h2>
        </div>
    </main>

    
    </div>
    <script src="js/main.js"></script>
</body>
</html>